  <audio id="standupandstretch" src="<%= asset_path("get_up.mp3") %>" preload="auto"></audio>
  <audio id="workstandingup" src="<%= asset_path("work_standing.mp3") %>" preload="auto"></audio>
  <audio id="meditate" src="<%= asset_path("meditate.mp3") %>" preload="auto"></audio>
  <audio id="workwork" src="<%= asset_path("workworkgottawork.mp3") %>" preload="auto"></audio>
  <audio id="paused" src="<%= asset_path("paused.mp3") %>" preload="auto"></audio>
  <audio id="resumed" src="<%= asset_path("resumed.mp3") %>" preload="auto"></audio>
  <audio id="other" src="<%= asset_path("other.mp3") %>" preload="auto"></audio>
<div class = "personal_view">
  <div class = "column_one" data-controller = "calendar">

  <div class = "calendar_wrapper">
    <iframe class = "calendar" id = "calendar_frame" src="https://calendar.google.com/calendar/embed?height=350&wkst=2&bgcolor=%235b9311&ctz=Europe%2FWarsaw&showPrint=0&showDate=0&showTabs=1&showCalendars=1&showTz=0&showTitle=0&mode=AGENDA&src=bXRzYmNrQGdtYWlsLmNvbQ&src=YjhhNWRkOTg1OTc2ODM0NjBlNDI2NDEwMzk0MDBhMzE3MmJmMDVmZTYwYzExY2NhYzlmYzU4YTJkMjA1NjMxY0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23D50000&color=%2333B679" style="border:solid 1px #777" width="350" height="350" frameborder="0" scrolling="no"></iframe>
  </div>
  <div class = "weather_wrapper">
    <iframe class = "weather" id = "weather_frame" <iframe src="https://www.meteoblue.com/en/weather/widget/three/legnica_poland_3093692?geoloc=fixed&nocurrent=0&noforecast=0&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&layout=dark"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 460px; height: 592px"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/en/weather/week/legnica_poland_3093692?utm_source=weather_widget&utm_medium=linkus&utm_content=three&utm_campaign=Weather%2BWidget" target="_blank" rel="noopener">meteoblue</a></div>
  </div>
</div>
  <div class = "column_two">
    <div class = "timer_block" id="timer_block"></div>
    <div class = "top_personal">
      <%= render partial: "timers/special_form" %>
      <div class="slider_thing_personal">
        <input type="range" min="0" max="100" value="50" class="slider" id="myRange">
      </div>
    </div>
    <br>
  </div>
