  <audio id="standupandstretch" src="<%= asset_path("get_up.mp3") %>" preload="auto"></audio>
  <audio id="workstandingup" src="<%= asset_path("work_standing.mp3") %>" preload="auto"></audio>
  <audio id="meditate" src="<%= asset_path("meditate.mp3") %>" preload="auto"></audio>
  <audio id="workwork" src="<%= asset_path("workworkgottawork.mp3") %>" preload="auto"></audio>
  <audio id="paused" src="<%= asset_path("paused.mp3") %>" preload="auto"></audio>
  <audio id="resumed" src="<%= asset_path("resumed.mp3") %>" preload="auto"></audio>
  <audio id="other" src="<%= asset_path("other.mp3") %>" preload="auto"></audio>
<div class = "volume_bar">
  <div class="slider_thing">
    <p> Volume: </p>
    <input type="range" min="0" max="100" value="50" class="slider" id="myRange">
  </div>
</div>
<div class = "top">
<%= render partial: "timers/form" %>
</div>
<br>
<div id="timer_block"></div>