  <audio id="standupandstretch" src="<%= asset_path("get_up.mp3") %>" preload="auto"></audio>
  <audio id="workstandingup" src="<%= asset_path("work_standing.mp3") %>" preload="auto"></audio>
  <audio id="meditate" src="<%= asset_path("meditate.mp3") %>" preload="auto"></audio>
  <audio id="urgentlymeditate" src="<%= asset_path("urgently_meditate.mp3") %>" preload="auto"></audio>
  <audio id="workwork" src="<%= asset_path("workworkgottawork.mp3") %>" preload="auto"></audio>
<%= render partial: "timers/form" %>
<br>
<div id="timer_block"></div>