<div class = "timer_form">
  <%= form_with url: timers_path do |form| %>
    <%= form.label :alert_type, "reminder to:", class: "form_text"%>
    <%= form.select :alert_type, ["Work standing up", "Stand up and stretch", "Meditate", "Other"], selected: "Work standing up"%>
    <%= form.label :activity_duration, "for ", class: "form_text"%>
    <%= form.number_field :activity_duration, min: 1, max: 1440, value: 1 %>
    <%= form.label :initial_value, " minutes in ", class: "form_text"%>
    <%= form.number_field :initial_value, min: 1, max: 1440, value: 1 %>
    <%= form.label :initial_value, " minutes", class: "form_text"%>
    <%= form.submit "start timer",class: "button_special_submit"%>
  <% end %>
</div>